{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Fampay Backend Assignment</title>
    <script src="{% static 'backend/index.js' %}"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        .list-item{
            margin: 12px;
            border: 1px solid black;
            border-radius: 4px;
            padding: 10px;
        }
        form{
            margin: 10px;
            padding: 8px;
        }
        #query{
            font-size: 16px;
            border-radius: 4px;
            border: 1px solid gray;
            width: 500px;
            outline: none;
            padding: 4px;
            margin: 2px 8px;
        }
    </style>
</head>
<body>
    <h1>Hello World!</h1>
    <form>
        <input type="text" id="query">
        <input type="submit" value="Search" class="btn btn-outline-primary">
    </form>
    <div id="videos_div"></div>
    <nav aria-label="Page navigation example" id="page-change">
        <ul class="pagination justify-content-center" id="paginationul">
            <li>1</li>
        </ul>
    </nav>
</body>
</html>